NLSE/

*__pycache__*

*.out*

IDC/

*pyc

*presentation.py

parameters_dev.py

sandbox_parameters_dev.py

noise_examples.py

.gitignore

new_distribution_.py

new_features.py
new_features_1.py
new_augment.py